@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Changa', sans-serif;
  }
  
  body, html {
    margin: 0px;
    height: 100%;
    width: 100%;
  }

  .full-screen-div {
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}
  
  /* HEADER */
  header{
    background-color: #6A438D;

  }
  .nav {
    height: 60px;
    width: 100%;
    position: relative;
    font-family: 'Changa', sans-serif;
  }
  
  .nav .nav-header {
      
    display: inline;
  }
  
  .nav .nav-header .nav-title {
    display: inline-block;
    font-size: 28px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav .nav-btn {
    display: none;
  }
  
  .nav .nav-links {
    display: inline;
    float: right;
    font-size: 20px;
    position: absolute;
    right: 0;
  }
  
  .nav .nav-links a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav .nav-links a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav .nav-btn label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav .nav-btn label:hover,.nav  #nav-check:checked ~ .nav-btn label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav .nav-btn label span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      height: 0px;
      background-color: #6A438D;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
      z-index: 2;
    }
    .nav .nav-links a {
      display: block;
      width: 100%;
    }
    .nav #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }

  /* MAIN CONTENT */

  /* Home Section */
  .banner{
      width: 100%;
      height: 100vh;
      background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(https://image.freepik.com/free-photo/young-programmer-working-software-javascript-computer-it-office_229060-189.jpg);
      background-size: cover;
      background-position: center;
  }

  .home-content{
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      color: #fff;
  }

  .home-content h1{
      font-size: 80px;
      font-weight: 700;
      margin-top: 80px;
  }

  .home-content h3{
    margin: 20px auto;
    font-weight: 150;
    line-height: 25px;
  }

  .home-btn{
      width: 200px;
      padding: 15px 0;
      text-align: center;
      margin: 20px 10px;
      border-radius: 25px;
      font-weight: bold;
      border: 2px solid #6A438D;
      background: transparent;
      color: #fff;
      cursor: pointer;
      position: relative;
      overflow: hidden;
  }

   #home-span{
      background: #6A438D;
      height: 100%;
      width: 0;
      border-radius: 25px;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
      transition: 0.5s;
  }

  .home-btn:hover #home-span{
      width: 100%;
  }

  .home-btn:hover{
      border: none;
      color: #fff;
      text-decoration: none;
  }

  /* About Section */
  #about{
    width: auto;
    max-height: 40rem;
    background-color: #111;
    color: #fff;
    font-size: 24px;

  }

  #about h2{
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
}

.subtitle-topic{
  padding: 20px;
  width: 43rem;
  height: 21rem;
  box-sizing: border-box;
}

#logo{
  position: relative;
  bottom: 180px;
  left: 530px;
}

.about-container{
  z-index: 1;
}

.about-move{
  position: relative;
  bottom: 230px;
  left: 630px;
}

#about h3{
  font-weight: 600;
}

.background{
  position: relative;
  bottom: 62rem;
}

@media(min-width: 769px) {
  .flex-container {
      display: flex;
      flex-wrap: wrap;
  }

  /* 2 Column for tablet */
  .flex-container .flex-item {
      flex: 1 0 50%;
  }
}

/* 4 colum desktop */
@media (min-width: 1024px) {
  .flex-container .flex-item {
      flex: 1 0 25%;
  }
}

/* Style Flex item */
.flex-item-inner {
  padding: 10px;
  margin: 10px;
}


  /* Services Section */
  #services{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background: #111;
}

    #services h2{
        font-size: 3rem;
        font-weight: 700;
        color: #fff;
    }

  .service-container{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 40px 0;
      flex-wrap: wrap;
  }

  .service-container .service-box{
      position: relative;
      width: 320px;
      height: 400px;
      color: #fff;
      background: #111;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 30px;
      transition: 0.5s;
  }

  .service-conatiner .service-box:hover{
      transform: translateY(-20px);
  }

  .service-container .service-box::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(45deg,#0250c5, #d43f8d);
  }

  .service-container .service-box::after{
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(45deg,#0250c5, #d43f8d);
      filter: blur(30px);
  }

  .service-container .service-box:nth-child(2)::before,
  .service-container .service-box:nth-child(2)::after{
      background: linear-gradient(315deg,#03a9f4,#ff0058);
  }

  .service-container .service-box:nth-child(3)::before,
  .service-container .service-box:nth-child(3)::after{
      background: linear-gradient(315deg,#6a11cb,#2575fc);
  }

  .service-container .service-box span{
      position: absolute;
      top: 6px;
      left: 6px;
      right: 6px;
      bottom: 6px;
      background: rgba(0, 0, 0, 0.6);
      z-index: 2;
  }

  .service-container .service-box .service-content{
      position: relative;
      z-index: 10;
      padding: 20px 40px;
  }

  .service-container .service-box .service-content h2{
      font-size: 2rem;
      color: #fff;
      margin-bottom: 10px;
  }

  .service-container .service-box .service-content p{
      font-size: 1.1rem;
      color: #fff;
      margin-bottom: 15px;
      line-height: 1.4rem;
  }

  .service-container .service-box .service-content a{
      display: inline-block;
      font-size: 1.1rem;
      color: #111;
      background: #fff;
      padding: 10px;
      text-decoration: none;
      font-weight: 600;
  }
  
  /* Programmers Section */
  #programmers h2{
      max-width: 100%;
      font-weight: 600;
      font-size: 3rem;
  }
  .staff {
    transition: all 0.3s ease;
  }
  
  .staff .img {
    height: 400px;
    width: 16rem;
    border-radius: 5px;
    background-position: top center;
  }
  
  .staff .text {
    background: #ffffff;
    transition: all 0.3s ease;
  }
  
  .staff .text h3 {
    font-size: 24px;
    margin-bottom: 0;
    font-weight: 600;
  }
  
  .staff .text .position {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.6);
    display: block;
  }
  .staff .text .faded {
    opacity: 1;
    transition: all 0.3s ease;
  }
  
  .ftco-social {
    padding: 0;
  }
  .ftco-social li {
    list-style: none;
    margin-right: 10px;
  }
  
  .ftco-social span {
    color: #7e2147d8;
  }

  /* Testimonials Section */
  #testimonial h2{
    max-width: 100%;
    font-weight: 600;
    font-size: 3rem;
  }

  .test-move{
      position: relative;
      top: 5rem;
  }

  .testimony-section {
    position: relative;
    z-index: 0;
    background-position: center center !important;
    position: relative;
    background-attachment: fixed;
  }
  
  .testimony-section .img-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
  }
  
  .testimony-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background: #000;
    opacity: 0.7;
  }
  .testimony-section .owl-carousel {
    margin: 0;
  }
  
  .testimony-section .owl-carousel .owl-stage-outer {
    padding: 1.5em 0 2em 0;
    position: relative;
  }
  .testimony-section .owl-nav {
    position: absolute;
    top: 100%;
    width: 100%;
  }
  
  .testimony-section .owl-nav .owl-prev,
  .testimony-section .owl-nav .owl-next {
    position: absolute;
    transform: translateY(-50%);
    margin-top: -10px;
    outline: none !important;
    transition: all 0.3s ease;
    opacity: 0;
  }
  
  .testimony-section .owl-nav .owl-prev span::before,
  .testimony-section .owl-nav .owl-next span::before {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
  }
  
  .testimony-section .owl-nav .owl-prev:hover span::before,
  .testimony-section .owl-nav .owl-prev:focus span::before,
  .testimony-section .owl-nav .owl-next:hover span::before,
  .testimony-section .owl-nav .owl-next:focus span::before {
    color: #ffffff;
  }
  .testimony-section .owl-nav .owl-prev {
    left: 50%;
    margin-left: -80px;
  }
  .testimony-section .owl-nav .owl-next {
    right: 50%;
    margin-right: -80px;
  }
  
  .testimony-section .owl-dots {
    text-align: center;
  }
  
  .testimony-section .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.253);
  }
  
  .testimony-section .owl-dots .owl-dot.active {
    background: #6A438D;
  }
  
  .testimony-wrap {
    display: block;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0 20px;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 30px 33px -41px rgba(0, 0, 0, 0.24);
  }
  .testimony-wrap .text p {
    font-style: italic;
  }
  
  .testimony-wrap .icon {
    position: absolute;
    top: -20px;
    left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #6A438D;
  }
  
  .testimony-wrap .icon span {
    color: #ffffff;
  }
  
  .testimony-wrap .user-img {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
  }
  
  .testimony-wrap .name {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 0;
    color: #ffffff;
    font-style: normal !important;
  }
  
  .testimony-wrap .position {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .heading-section.heading-section-white .subheading {
    color: #c8a97e;
  }
  .heading-section.heading-section-white h2 {
    color: #ffffff;
  }
  .heading-section.heading-section-white p {
    color: rgba(255, 255, 255, 0.9);
  }

  /* Footer */
  footer{
    bottom: 0px;
    width: 100%;
    height: 20rem;
    background: #6A438D;
    color: #fff;
    line-height: 2rem;
  }

  .main-content{
    display: flex;
  }

  .main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
    margin-top: 10px;
  }

  .box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  .box .content{
    margin: 20px 0 0 0;
    position: relative;
  }

  .box .content:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
  }

  .box .content:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #B4A1C6;
    top: -10px;
  }

  .left .content p{
    text-align: justify;
  }

  .left .content .social{
    margin: 20px 0 0 0;
  }

  .left .content .social a{
    padding: 0 2px;
  }

  .left .content .social a span{
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 100%;
    transition: 0.3s;
    color: #fff;
  }

  .left .content .social a span:hover{
    background: #B4A1C6;
  }

  .center .content .fas{
    font-size: 1.4375rem;
    background: #1a1a1a;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 100%;
    transition: 0.3s;
    cursor: pointer;
  }

  .center .content .fas:hover{
    background: #B4A1C6;
  }

  .center .content .text{
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
  }

  .center .content .phone{
    margin: 15px 0;
  }

  .right form .text{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #fff;
  }

  .right form .msg{
    margin-top: 10px;
  }

  .right form input, .right form textarea{
    width: 100%;
    font-size: 1.0625rem;
    background: #151515;
    padding-left: 10px;
    border: 1px solid #222222;
  }

  .right form input{
    height: 35px;
  }

  .right form .btn{
    margin-top: 10px;
  }

  .right form .btn button{
      position: relative;
      right: 10px;
      border-radius: 25px;
      padding: 0 15px;
      color: #fff;
      background-color: #222222;
      border-color: #222222;
  }

  .right form .btn button:hover{
    background: #B4A1C6;
    border-color: #B4A1C6;
  }

  .bottom center{
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515;
  }

  .bottom center span{
    color: #656565;
  }

  .bottom center a:hover{
    text-decoration: underline;
  }

  @media screen and (max-width: 900px) {
    footer{
      position: relative;
      bottom: 0px;
    }
    .main-content{
      flex-wrap: wrap;
      flex-direction: column;
    }
    .main-content .box{
      margin: 5px 0;
    }
  }
